@import "blocks/bootstrap.min.scss";
@import "blocks/variables.scss";
@import "blocks/mixins.scss";
@import "blocks/normalize.scss";
@import "blocks/sprite-png.scss";
@import "blocks/fonts.scss";
@import "blocks/animate.scss";
// PAGE COMPONENTS
@import "blocks/header.scss";

body {
	font-family:Josefin Sans;
}
.icon {
  display: inline-block;
}

.icon-chrome {
  @include sprite($chrome);

}
.icon-placeholder {
  @include sprite($placeholder);
}
