<footer class="section footer-classic context-dark bg-image" style="background: #f3f3f3;">
	<div class="footer_header">
		<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5>Contacts</h5>
			</div>
			<div class="col-md-2">
				<h5>About Us</h5>
			</div>
			<div class="col-md-2">
				<h5>Solution</h5>
			</div>
			<div class="col-md-2">
				<h5>Portfolio</h5>
			</div>
			<div class="col-md-2">
				<h5>Style</h5>
			</div>
		</div>
	</div>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-4">

				<ul class="nav-list">
					<li><a href="#">Our Experience</a></li>
					<li><a href="#">Our Values</a></li>
				</ul>
			</div>

			<div class="col-md-2">

				<ul class="nav-list">
					<li><a href="#">Our Experience</a></li>
					<li><a href="#">Our Values</a></li>
				</ul>
			</div>
			<div class="col-md-2">

				<ul class="nav-list">
					<li><a href="#">Cabinets manufacture</a></li>
					<li><a href="#">Cabinets styleand design assistance</a></li>
				</ul>
			</div>
			<div class="col-md-2">

				<ul class="nav-list">
					<li><a href="#">Bath</a></li>
					<li><a href="#">Kitchen</a></li>
					<li><a href="#">Office</a></li>
					<li><a href="#">Icelands</a></li>
					<li><a href="#">Laundry</a></li>
					<li><a href="#">Wt bars and misc</a></li>
				</ul>
			</div>
			<div class="col-md-2">

				<ul class="nav-list">
					<li><a href="#">Doors</a></li>
					<li><a href="#">Woods</a></li>
					<li><a href="#">Glazed</a></li>
					<li><a href="#">Accesorie</a></li>

				</ul>
			</div>

		</div>
	</div>
</footer>
<div class="copy">
	<div class="container ">
		<div class="row">
			<div class="col-md-6 text-left copy__text">All rights reserved LCM Cabinets ©</div>
			<div class="col-md-6 text-right">
				<img src="img/logo.png" alt="">
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg modal-ltsgo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Free estimation QUOTE get a discution use coupon for CARPENTER</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><svg class="close_modal"><use xlink:href="img/sprite-svg.svg#close"></use></svg></span>
				</button>
			</div>
			<div class="modal-body">
				<form action="">
					<div class="form-row">
						<div class="col">
							<div class="dropzone">
								<input type="file" name="file-4[]" id="file-4" class="inputfile inputfile-3" accept="image/gif, image/jpeg" data-multiple-caption="{count} files selected" multiple="">
								<label for="file-4"><span class="drop-title">Uploade image</span><br>
								<span class="note needsclick">The loaded image should not weight more than 100kb</span></label>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="Last Name , First Name *">
						</div>
						<div class="col-md-4 col-sm-12">
							<select class="custom-select" id="inlineFormCustomSelectPref">
								<option selected>Remodel Type *</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="Last name" required="">
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="Email *" required>
						</div>
						<div class="col-md-4 col-sm-12">
							<select class="custom-select" id="inlineFormCustomSelectPref">
								<option selected>Best time to call</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="Zip Code *" required>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="Phone Number *" required>
						</div>
						<div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="Address for Appoiment *" required>
						</div>
						<div class="col-md-4 col-sm-12">
							<select class="custom-select" id="inlineFormCustomSelectPref">
								<option selected>How did you here about us ?</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Is there anything else we should know ? *</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
					</div>
					<div class="form-grup text-center">
						<button class="btn btn-modal-wuote" type="submit">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script src="js/script-min.js"></script>
</body>
</html>
