<!doctype html>
<html class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="True">
        <meta http-equiv="cleartype" content="on">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        <link rel="shortcut icon" href="img/favicon.png" />
        <link rel="stylesheet" href="css/style.css">
        <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
        <title>LCM</title>
        <!-- Поддержка старых браузеров-->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>

            <nav class="navbar navbar-expand-md navbar-custom">
            	<div class="container">


                <a class="navbar-brand align-self-center  position-md-absolute " href="/">
                    <img src="img/logo.png" alt="" class="normal-logo">

                    <img src="img/favicon.png" alt="" class="scrol-logo">
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="solution.html">Solutions</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="style.html">Style</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contacts</a>
                        </li>

                         <li class="nav-item get-quote">
                            <a class="nav-link" href="" data-toggle="modal" data-target=".bd-example-modal-lg">Get a quote</a>
                        </li>
                        <li class="nav-item login-btn">
                            <a class="nav-link" href="#">
                            	<svg class="header-login-svg"><use xlink:href="img/sprite-svg.svg#login"></use></svg>
                            </a>
                        </li>

                    </ul>
                </div>
                </div>
            </nav>
        </header>
