@font-face {
  font-family: 'MADECoachella-Light';
  src: url('../fonts/MADECoachella-Light.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/MADECoachella-Light.otf')  format('opentype'),
	     url('../fonts/MADECoachella-Light.woff') format('woff'),
	     url('../fonts/MADECoachella-Light.ttf')  format('truetype'),
	     url('../fonts/MADECoachella-Light.svg#MADECoachella-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MADECoachella';
  src: url('../fonts/MADECoachella.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/MADECoachella.otf')  format('opentype'),
	     url('../fonts/MADECoachella.woff') format('woff'),
	     url('../fonts/MADECoachella.ttf')  format('truetype'), url('MADECoachella.svg#MADECoachella') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MADECoachella-Thin';
  src: url('../fonts/MADECoachella-Thin.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/MADECoachella-Thin.otf')  format('opentype'),
	     url('../fonts/MADECoachella-Thin.woff') format('woff'),
	     url('../fonts/MADECoachella-Thin.ttf')  format('truetype'),
	     url('../fonts/MADECoachella-Thin.svg#MADECoachella-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
